<?xml version="1.0" encoding="utf-8"?>
<module>
    <id>mod_management</id>
	<name>management</name>
	<url>company</url>
	<roles>manager</roles>
	<main>true</main>
	<mandatory>true</mandatory>
	<author>ThinkTech</author>
	<authorEmail>dev@thinktech.sn</authorEmail>
	<description>Module for managing your customers, prospects and partners</description>
	<details>The management module let you manage your customers, prospects and partners in
	an efficient way by providing all the necessary tools.</details>
	<creationDate>2016-09-01</creationDate>
	<copyright>© 2017 ThinkTech</copyright>
	<license>Commercial</license>
	<version>1.0</version>
	<price>10</price>
	<menus>
		<menu>
			<menuItem label="Customers" icon="customers-16"/>
			<menuItem label="Prospects" url="prospects" icon="prospects-16"/>
			<menuItem label="Partners" url="partners" icon="partners-16"/>
			<menuItem label="Settings" url="settings" />
		</menu>
    </menus>
    <actions>
    
        <action url="customers">
			<result>index</result>
		</action>
		
		<action url="prospects" method="showProspects">
			<result>prospects</result>
		</action>
		
		<action url="partners" method="showPartners">
			<result>partners</result>
		</action>
		
		<action url="customers/create" method="createCustomer">
			<result>create</result>
		</action>
		
		<action url="prospects/create" method="createProspect">
			<result>create</result>
		</action>
		
		<action url="partners/create" method="createPartner">
			<result>create</result>
		</action>
		
		<action url="save" method="saveStructure">
			<result name="customer" type="redirect">/company/customers</result>
			<result name="prospect" type="redirect">/company/prospects</result>
			<result name="partner" type="redirect">/company/partners</result>
		</action>
		
		<action url="customers/details" method="showStructure">
			<result>details</result>
		</action>
		
		<action url="prospects/details" method="showStructure">
			<result>details</result>
		</action>
		
		<action url="partners/details" method="showStructure">
			<result>details</result>
		</action>
		
		<action url="customers/search" method="searchCustomers">
			<result>index</result>
		</action>
		
		<action url="prospects/search" method="searchProspects">
			<result>prospects</result>
		</action>
		
		<action url="partners/search" method="searchPartners">
			<result>partners</result>
		</action>
		
		<action url="settings" method="showSettings">
			<result>settings</result>
		</action>
		
	</actions>
</module>