<?xml version="1.0" encoding="utf-8"?>
<module>
    <id>mod_collaboration</id>
	<name>collaboration</name>
	<roles>manager,customer,partner</roles>
	<author>ThinkTech</author>
	<authorEmail>dev@thinktech.sn</authorEmail>
	<description>Module for collaborating with your customers and partners</description>
	<details>The collaboration module let you give access to your customers and partners
	so they can follow the evolution of their projects and report issues.
	Its primary goal is to maximize profitability, revenue and as a dynamic tool, to collect information from interactions.
	</details>
	<creationDate>2016-09-01</creationDate>
	<copyright>© 2017 ThinkTech</copyright>
	<license>Commercial</license>
	<version>1.0</version>
	<price>10</price>
</module>