<?xml version="1.0" encoding="utf-8"?>
<module>
	<name>collaboration</name>
	<roles>manager,customer,partner</roles>
	<administrable>false</administrable>
	<author>ThinkTech</author>
	<authorEmail>dev@thinktech.sn</authorEmail>
	<description>Module for collaborating with your customers and partners</description>
	<details>The collaboration module let you give access to your customers and partners
	so that they can follow the evolution of their projects and to report issues.</details>
	<creationDate>2016-09-01</creationDate>
	<copyright>© 2017 ThinkTech</copyright>
	<license>Commercial</license>
	<version>1.0</version>
	<pricing>
	   <amount>3000</amount>
	   <currency>XOF</currency>
	</pricing>
	<menus>
		<menu>
			<menuItem label="Account" />
			<menuItem label="Preferences" url="preferences" />
		</menu>
	</menus>
	<actions>
		<action name="login"  url="login"  global="true"  method="login"/>
		<action name="logout" url="logout" global="true"  method="logout">
			<result type="redirect">/</result>
		</action>
		<action name="selectTemplate" url="preferences/templates/select"   method="selectTemplate"/>
		<action name="changePassword" url="changePassword"   method="changePassword">
		    <result type="redirect">/users</result>
		</action>
		
	</actions>
</module>