<?xml version="1.0" encoding="utf-8"?>
<module>
	<name>Documentation</name>
	<type>front-end</type>
	<title>SenCRM</title>
	<cached>false</cached>
	<author>ThinkTech</author>
	<authorEmail>dev@thinktech.sn</authorEmail>
	<creationDate>2016-09-01</creationDate>
	<copyright>© 2017 ThinkTech</copyright>
	<license>Commercial</license>
	<version>1.0</version>
	<actions>
	  <action url="faq">
	    <result>faq</result>
	  </action>
	</actions>
</module>