<?xml version="1.0" encoding="utf-8"?>
<module>
    <id>mod_hrm</id>
	<name>Human Resources</name>
	<roles>manager</roles>
	<author>ThinkTech</author>
	<authorEmail>dev@thinktech.sn</authorEmail>
	<description>Module for managing your human resources</description>
	<details>The human resources module let you manage your employees in an efficient way. 
	It is designed to maximize employee performance to meet your strategic objectives.</details>
	<creationDate>2016-09-01</creationDate>
	<copyright>© 2017 ThinkTech</copyright>
	<license>Commercial</license>
	<version>1.0</version>
	<price>10</price>
</module>