<?xml version="1.0" encoding="utf-8"?>
<module>
	<name>Production</name>
	<author>ThinkTech</author>
	<authorEmail>dev@thinktech.sn</authorEmail>
	<description>module for managing products</description>
	<creationDate>2016-09-01</creationDate>
	<copyright>© 2017 ThinkTech</copyright>
	<license>Commercial</license>
	<version>1.0</version>
	<menus>
		<menu>
			<menuItem label="Products"/>
		</menu>
    </menus>
    <actions>
    
		
		<action url="production/create" method="createCustomer">
			<result>create</result>
		</action>
		
		
		<action url="production/search" method="searchProducts">
			<result>index</result>
		</action>
		
		
	</actions>
</module>