body > div {
	height : 100%;
}

hr {
	border-top : 1px solid #cecaca;
	margin-top : 10px;
}

p {
	font-size : 85%;
}

tr {
	cursor : default;
}

tr.focus {
	background-color : #daf0fb;
}

th {
	background : #fff;
	color : #401c15;
	border : 1px solid #06d0d8;
	font-family : Tahoma;
}

td {
	border : 1px solid #06d0d8;
	font-family : Tahoma;
}

span {
	font-family : Tahoma;
}

tr:nth-child(12n+0) td {
	border-bottom : none;
}

#contextmenu a:hover, #contextmenu a.focus{
	background-color : #dfeffd;
}

#search input:focus {
	 border:1px solid rgb(234, 133, 17);
}

div.pager span {
   border : 1px solid rgb(0, 172, 235);
}

#search select {
	height : 29px;
}

#search input {
	background-image: url('../images/search.png');
	border : 1px solid #06d0d8;
	height : 29px;
}

.user-actions {
	font-family : Tahoma;
}

.logo img {
	width : 50px;
}

.logo h2 {
	display : inline-block;
	margin-top: 12px;
    font-size: 1.2em;
}

.topmenu >  a {
	height : 40px;
	border : 1px solid #06d0d8;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	border-bottom : none;
	display : inline-block;
	color : #000;
	text-align : left;
	background-color : rgb(253,253,253);
	cursor : pointer;
	padding-left : 2px;
	font-size:80%;
	width : auto;
	padding-right : 10px;
	font-family : Tahoma;
}

.topmenu a.active {
	background-color : #fff;
	color : #06d0d8;
	border : 1px solid #06d0d8;
	border-bottom:none;
}

.topmenu a:not(.active):hover {
	background-color : #fff;
	border : 1px solid #06d0d8;
	border-bottom : none;
	color : #06d0d8;
}

.user-actions a.active {
	color : rgb(234, 133, 17);
}

.account-16{
	background-image: url("../images/account-16.png");
}

a.signout {
	background-image: url("../images/signout.png");
	background-position : 0px 2px;
}

aside {
	margin-top : 10px;
}
aside ul{
    border : 1px solid #06d0d8;
    box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
}
aside ul li{
	background-color:#fff;
	background-image: url("../images/square.png");
}

aside a, aside:visited {
	color : #300903;
}

aside a.active {
	color : rgb(234, 133, 17);
}

aside h1 {
	box-shadow: inset 0 -15px 30px rgba(0,0,0,0.4), 0 5px 10px rgba(0,0,0,0.5);
    background-color:rgb(28,28,28);
    color : #fff;
}

.aside-toggle {
    position: absolute;
    z-index : 10;
    left : 5px;
    padding: 9px 6px;
    margin-top: -3px;
    margin-right: 13px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    display : none;
    cursor : pointer;
}

.aside-toggle:focus {
	outline : none;
}

.aside-toggle .icon-bar {
    background-color: #300903;
}

.aside-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
}

.aside-toggle .icon-bar {
    display: block;
    width: 18px;
    height: 2px;
    border-radius: 1px;
}

.scrollToTop{
  background-color: #06d0d8;
  color: #fff;
}
.scrollToTop:hover,.scrollToTop:focus{  
  color: #fff;
}

/*scrol to top*/

.scrollToTop {
  bottom: 35px;
  display: none;
  font-size: 2rem;
  font-weight: bold;
  height: 50px;
  position: fixed;
  right: 10px;
  text-align: center;
  text-decoration: none;
  width: 50px;
  z-index: 9;
  border:1px solid;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-radius : 50%;
  line-height : 45px;
}

.scrollToTop:hover, .scrollToTop:focus{
  text-decoration: none;
  outline: none;
  background-color: #000;
}

.new-16 {
	background-image: url("../images/new-16.png");
}
.help-16 {
	background-image: url("../images/help-16.png");
}
.back-16 {
	background-image: url("../images/back-16.png");
}
.refresh-16 {
	background-image: url("../images/refresh-16.png");
}
.edit-16 {
	background-image: url("../images/edit-16.png");
}

.delete-16 {
	background-image: url("../images/delete-16.png");
}

.pdf-16 {
	background-image: url("../images/pdf-16.png");
}

.print-16 {
	background-image: url("../images/print-16.png");
}

div.pager span.active {
    background: #06d0d8;
    color: #fff;
}

input:focus,select:focus,a:focus,textarea { 
	border : 1px solid rgb(234, 133, 17);
}

input[type=submit]{
	border : 1px solid #06d0d8;
	background : #06d0d8;
	color : white;
	height : 34px;
}

h1 {
	color : #300903;
	font-family : Tahoma;
}

h2 {
  font-family : Tahoma;
}

.buttons a {
	border : 1px solid #06d0d8;
	color : rgb(234, 133, 17);
	background-color : #fff;
	font-family : Tahoma;
}

.buttons a:hover {
	border : 1px solid rgb(234, 133, 17);
}

fieldset {
    border : 1px solid #06d0d8;
    background-color : #fdfdfd;
	font-family : Tahoma;
}

select,input {
	background : #feffdb;
	border : 1px solid #06d0d8;
	height : 24px;
}

a {
	color : rgb(0, 172, 235);
}

span a {
	color : rgb(0, 172, 235);
}


.template img {
	border : 1px solid rgb(10, 136, 247);
}

#alert-dialog-container span:nth-child(1) {
	background-image : url(../images/alert-24.png);
	background-position-y : 4px;
}

#confirm-dialog-container span:nth-child(1) {
	background-image : url(../images/confirm-24.png);
	background-position-y : 4px;
}

/*--------------------*/
/* Responsive Style */
/*--------------------*/

@media(max-width:870px ){
	.aside-toggle {display:block;}
	aside {position : fixed;width:200px;margin-left : 27px;margin-top:6px;z-index : 11;}
	aside.toggled {display:block;}
}
@media(max-width:320px ){
	.scrollToTop {bottom : 5px}
}