.center {
	width: 70%;
    margin : auto;
    clear : right;
}

.center > h1 {
	font-size: 2em;
    padding: 0px;
    font-weight : bold;
    text-align : center;
    margin-bottom : 10px;
    padding-top:10px;
    white-space: nowrap;
}

.center h2 {
	text-transform : capitalize;
	height : 33px;
	padding-left : 10px;
	font-size : 1.1em;
}

.doc ul {
	margin-left : 63px;
	font-size : 97%;
	list-style-type : square;
}

.doc {
	width : 32%;
	display : inline-block;
	border : 1px solid #cc9a9a;
	vertical-align : top;
	height : 280px;
	margin-top : 15px;
	padding : 15px 5px;
	margin-bottom : 10px;
}

.doc img {
	display : inline-block;
	width : 32px;
	height : 32px;
}

.doc > i {
	font-size: 1.5em;
    margin-top: 4px;
    margin-right: 0px;
    width: 27px;
    height: 32px;
}

.doc > i.adjust {
	position : relative;
	left : 6px;
}

.doc label {
	display: inline-block;
    vertical-align: top;
    text-transform: capitalize;
    padding-top: 2px;
    padding-left: 6px;
    font-weight: bold;
    font-size: 1.1em;
    height: 36px;
    min-width: 85%;
    border: 1px solid #cc9a9a;
    border-radius: 8px;
}


/*--------------------*/
/* Responsive Style */
/*--------------------*/


@media(max-width:1199px ){
}

@media(max-width:1024px ){
	 .doc { width : 49%;margin-left : auto;margin-right : auto;height : 280px }
}
  
@media(max-width:991px ){
	.center .center {width:100%}
}

@media(max-width:767px ){
	.doc { width : 49%;margin-left : auto;margin-right : auto;height : 300px }
	 
}
@media(max-width:640px){
	.doc { width : 95%;margin-left : auto;margin-right : auto;height : auto }
	 
}

 
@media(max-width:480px ){
    .center > h1 {font-size:1.5em}
    .center {width:90%}
    .center .center {width:100%}
}
@media(max-width:360px ){
	
}
@media(max-width:320px ){
	
}