.center {
	width: 77%;
    margin : auto;
    clear : right;
}

.center > h1 {
	font-size: 2.5em;
    padding: 0px;
    font-weight : bold;
    text-align : center;
    margin-bottom : 10px;
    padding-top:10px;
    white-space: nowrap;
}

.center h2 {
	text-transform : capitalize;
	padding-left : 10px;
	font-size : 1.1em;
}


/*--------------------*/
/* Responsive Style */
/*--------------------*/


@media(max-width:1199px ){
}

@media(max-width:1024px ){
}
  
@media(max-width:991px ){
}

@media(max-width:767px ){
	 
}
@media(max-width:640px){
}

 
@media(max-width:480px ){
    .center > h1 {font-size:1.5em}
    .center {width:90%}
    .center .center {width:100%}
}
@media(max-width:360px ){
	
}
@media(max-width:320px ){
	
}