<?xml version="1.0" encoding="utf-8"?>
<module>
    <id>mod_bintelligence</id>
	<name>Business Intelligence</name>
	<roles>manager</roles>
	<author>ThinkTech</author>
	<authorEmail>dev@thinktech.sn</authorEmail>
	<description>Module to control the intelligence of your business</description>
	<details>The business intelligence module provides a pro-active approach, such as reports, views, alert functionality that immediately notifies you if certain conditions are met, 
	to gain insight into new markets, to create new strategies and to assess demand and suitability of products and services.</details>
	<creationDate>2016-09-01</creationDate>
	<copyright>© 2017 ThinkTech</copyright>
	<license>Commercial</license>
	<version>1.0</version>
	<price>10</price>
</module>