<?xml version="1.0" encoding="utf-8"?>
<module>
	<name>support</name>
	<roles>manager,support</roles>
	<author>ThinkTech</author>
	<authorEmail>dev@thinktech.sn</authorEmail>
	<description>Module for managing your support tickets</description>
	<details>The support module provides a ticketing system for resolving any product related issue, offering complete email integration.
	Tickets can be assigned to users and they can view all tickets assigned to them.
	</details>
	<creationDate>2016-09-01</creationDate>
	<copyright>© 2017 ThinkTech</copyright>
	<license>Commercial</license>
	<version>1.0</version>
	<pricing>
	   <amount>3000</amount>
	   <currency>XOF</currency>
	</pricing>
	<menus>
		<menu>
			<menuItem label="Opened" />
			<menuItem label="Closed" url="closed" />
		</menu>
    </menus>
    <actions>
		<action url="create" method="createTicket">
			<result>create</result>
		</action>
		
		<action url="save"  method="saveTicket">
			<result type="redirect">/tickets</result>
		</action>
		
		<action url="opened/details" method="showTicket">
			<result>details</result>
			<result name="error" type="redirect">/tickets</result>
		</action>
		
		<action url="closed/details" method="showTicket">
			<result>details</result>
			<result name="error" type="redirect">/tickets/closed</result>
		</action>
		
		<action  url="addMessage"  method="addMessage"/>
		
		<action url="closeTicket"  method="closeTicket">
			<result type="redirect">/tickets/closed</result>
		</action>
		
		<action url="closed" method="showClosedTickets">
			<result>closed</result>
		</action>
		
		<action url="opened/search" method="searchOpenedTickets">
			<result>index</result>
		</action>
		
		<action url="closed/search" method="searchClosedTickets">
			<result>closed</result>
		</action>
		
	</actions>
</module>