<?xml version="1.0" encoding="utf-8"?>
<module>
    <id>mod_marketing</id>
	<name>marketing</name>
	<roles>manager</roles>
	<type>back-end</type>
	<author>ThinkTech</author>
	<authorEmail>dev@thinktech.sn</authorEmail>
	<creationDate>2016-09-01</creationDate>
	<copyright>© 2017 ThinkTech</copyright>
	<license>Commercial</license>
	<version>1.0</version>
</module>