<?xml version="1.0" encoding="utf-8"?>
<module>
    <id>mod_marketing</id>
	<name>marketing</name>
	<roles>manager</roles>
	<administrable>false</administrable>
	<author>ThinkTech</author>
	<authorEmail>dev@thinktech.sn</authorEmail>
	<description>Module for managing your marketing</description>
	<details>The marketing module let you stay connected
	with your customers and prospects with the goal of selling your products or services to them.</details>
	<creationDate>2016-09-01</creationDate>
	<copyright>© 2017 ThinkTech</copyright>
	<license>Commercial</license>
	<version>1.0</version>
	<price>10</price>
</module>