<?xml version="1.0" encoding="utf-8"?>
<module>
	<name>users</name>
	<visible>false</visible>
	<mandatory>true</mandatory>
	<administrable>false</administrable>
	<author>ThinkTech</author>
	<authorEmail>dev@thinktech.sn</authorEmail>
	<description>Module for managing your account and those of your collaborators</description>
	<details>
	The users module allows your collaborators and you to log in, and log out.
    The users module supports user roles, which can be set up with fine-grained permissions allowing each role to do only what is permitted. 
    Users can modify their personal configuration settings through their individual my account page. 
	</details>
	<creationDate>2016-09-01</creationDate>
	<copyright>© 2017 ThinkTech</copyright>
	<license>Commercial</license>
	<version>1.0</version>
	<menus>
		<menu>
			<menuItem label="Account" />
			<menuItem label="Settings" url="settings" />
		</menu>
	</menus>
	<actions>
		<action name="login"  url="login"  global="true"  method="login"/>
		<action name="logout" url="logout" global="true"  method="logout">
			<result type="redirect">/</result>
		</action>
		<action name="selectTemplate" url="settings/templates/select"   method="selectTemplate"/>
		<action name="changePassword" url="changePassword"   method="changePassword">
		    <result type="redirect">/users</result>
		</action>
		
	</actions>
</module>