<?xml version="1.0" encoding="utf-8"?>
<module>
    <id>mod_users</id>
	<name>users</name>
	<visible>false</visible>
	<mandatory>true</mandatory>
	<administrable>false</administrable>
	<author>ThinkTech</author>
	<authorEmail>dev@thinktech.sn</authorEmail>
	<creationDate>2016-09-01</creationDate>
	<copyright>© 2017 ThinkTech</copyright>
	<license>Commercial</license>
	<version>1.0</version>
	<price>0</price>
	<menus>
		<menu>
			<menuItem label="Account" />
			<menuItem label="Settings" url="settings" />
		</menu>
	</menus>
	<actions>
		<action  url="login"  method="login"/>
		<action  url="logout" method="logout">
			<result type="redirect">/</result>
		</action>
		<action url="settings/templates/select"   method="selectTemplate"/>
		<action url="changePassword"   method="changePassword">
		    <result type="redirect">/users</result>
		</action>
		
	</actions>
</module>