<?xml version="1.0" encoding="utf-8"?>
<module>
	<name>Registration</name>
	<type>front-end</type>
	<cached>false</cached>
	<title>Registration</title>
	<author>ThinkTech</author>
	<authorEmail>dev@thinktech.sn</authorEmail>
	<creationDate>2016-09-01</creationDate>
	<copyright>© 2017 ThinkTech</copyright>
	<license>Commercial</license>
	<version>1.0</version>
    <actions>
		<action url="register" method="register"/>
	    <action url="success" page="success"/>	
		<action url="account/confirm" method="confirm">
			<result type="redirect">/login</result>
		</action>	
		<action url="password/reset" method="resetPassword" page="reset"/>
		<action url="password/change" method="changePassword">
			<result type="redirect">/login</result>
		</action>
		<action url="terms" page="terms"/>
		<action url="privacy" page="privacy"/>
	</actions>
</module>