.registration {
	width : 40%;
	margin : auto;
	clear : right;
}

.terms {
	width : 50%;
}

.terms p {
	font-size : 95%;
}

.terms > h1 {
	padding-top:20px;
}

.registration p {
    padding: 20px;
    margin-top: 50px;
    text-align: justify;
    width : 90%;
    margin : auto;
    margin-bottom : 30px;
}


.terms > p {
	margin-bottom : 0px;
	margin-top : 0px;
}


.registration > h1 {
	font-size: 2em;
    padding: 0px;
    font-weight : bold;
    text-align : center;
    margin-bottom : 20px;
    padding-top:20px;
    white-space: nowrap;
}


#form p {
	margin-bottom : 0px;
	margin-top : 0px;
	padding-top : 10px;
	font-size : 90%;
}

#form p span {
	display: inline-block;
    width: auto;
    position: absolute;
    padding-right: 8px;
    line-height: 1.2em;
    padding-top: 10px;
}

.registration .price {
    display: inline-block;
    color: #21560a;
    padding: 5px;
    padding-top: 6px;
    font-size: 70%;
    width: 35%;
    height: 34px;
    vertical-align: top;
    white-space: nowrap;
    margin-top: 3px;
}

.registration .price:last-of-type {
	 margin-top: 1px;
    height: 35px;
}

.success {
	margin-top : 50px;
	margin-bottom : 100px;
	width : 50%;
	border-radius : 5px;
	border : 1px solid;
	font-size : 95%;
}

.success > h1 {
	margin-bottom: 0px;
}

.success p {
	font-size : 105%;
	font-family : serif;
}

.success p span {
	font-weight : bold;
	margin-top : 15px;
	display : block;
}

#form fieldset {
	margin-bottom : 5px;
	padding-bottom : 15px;
	background : transparent;
}

#form fieldset label {
	height : 35px;
	font-size: 84%;
    padding-top: 5px;
    width : 29%;
}

#form input:not([type="submit"]), #form select {
	width : 69%;
	height : 35px;
	border : 1px solid;
}

#form input[type=checkbox],#form input[type=radio] {
	margin-right : 2px;
	width : 35px;
}

#form .info {
	vertical-align: text-top;
    margin-top: -11px;
    cursor : pointer;
}

.captcha {
	margin-top : 20px;
}

.gc-reset{
transform:scale(0.95) !important;
-webkit-transform:scale(0.95) !important;
transform-origin:0 0 !important;
-webkit-transform-origin:0 0 !important;
}


/*--------------------*/
/* Responsive Style */
/*--------------------*/


@media(max-width:1199px ){
	.success {width : 60%;}
	.registration {width : 55%;}
}

@media(max-width:1024px ){
	.registration {width : 60%;}
}
  
@media(max-width:991px ){
	.success {width : 50%;}
	.registration {width : 67%;}
}

@media(max-width:767px ){
	h4 {background-position-y : 6px}
	.registration {width : 80%;}
	.registration p {width : 99%}
}
@media(max-width:640px){
	.success {width : 90%;}
	.registration {width : 90%;}
	#form fieldset label {width : 40%;}
	#form input:not([type="submit"]), #form select {width : 57%;}
    #form input[type=checkbox],#form input[type=radio] {width:35px;margin-right:2%}
}

 
@media(max-width:480px ){
	.registration {width : 95%;}
	#form fieldset label {width : 40%;}
	#form input:not([type="submit"]), #form select {width : 55%;}
    #form input[type=checkbox],#form input[type=radio] {width:35px;margin-right:2%}
    .registration > h1 {font-size:1.5em;}
}
@media(max-width:360px ){
	#form fieldset label {width : 50%;}
	#form input:not([type="submit"]), #form select {width : 48%;}
    #form input[type=checkbox],#form input[type=radio] {width:35px;margin-right:0%}
    .captcha{max-width:286px;width:286px;overflow:hidden}
    .registration .price {width:25%}
}
@media(max-width:320px ){
	.captcha{max-width:286px;width:286px;overflow:hidden}
	
}