.registration {
	width : 43%;
	margin : auto;
	clear : right;
}

.terms {
	width : 50%;
	padding-bottom : 30px;
}

.terms p {
	font-size : 95%;
}

.terms > h2 {
	width : 90%;
	margin : auto;
	margin-bottom : 10px;
	margin-top:10px;
}


.registration p {
    padding: 20px;
    margin-top: 50px;
    text-align: justify;
    width : 90%;
    margin : auto;
    margin-bottom : 30px;
}


.terms > p {
	margin-bottom : 0px;
	margin-top : 0px;
}


.registration > h1 {
	font-size: 2.5em;
    padding: 0px;
    font-weight : bold;
    text-align : center;
    margin-bottom : 10px;
    padding-top:10px;
    white-space: nowrap;
}


#form p {
	margin-bottom : 0px;
	margin-top : 0px;
	padding-top : 10px;
	font-size : 90%;
}

#form p span {
	display: inline-block;
    width: auto;
    position: absolute;
    padding-right: 8px;
    line-height: 1.2em;
    padding-top: 10px;
}

#form p span .voice {
	position : relative;
	margin-top : 4px;
	margin-left : -8px;
}

#form .mailing span {
	width: 367px;
    position: relative;
    padding-top: 1px;
    margin-top: -7px;
}

.registration .price {
    display: inline-block;
    color: #21560a;
    padding: 5px;
    padding-top: 6px;
    font-size: 70%;
    width: 30%;
    height: 34px;
    vertical-align: top;
    white-space: nowrap;
    margin-top: 3px;
    background : #fff;
}

.registration .price span {
	width : 20px;
	display : inline-block;
	text-align : right;
}

.registration .price:last-of-type {
	 margin-top: 1px;
    height: 35px;
}

.success {
	margin-top : 50px;
	margin-bottom : 195px;
	width : 50%;
	border-radius : 5px;
	border : 1px solid;
	font-size : 95%;
}

.success > h1 {
	margin-bottom: 0px;
	padding-top: 20px;
}

.success p {
	font-size : 105%;
	font-family : serif;
}

.success p span {
	font-weight : bold;
	margin-top : 15px;
	display : block;
}

#form fieldset {
	margin-bottom : 5px;
	padding-top : 5px;
	padding-bottom : 26px;
	padding-right : 25px;
	background : #efeeee;
}

#form h1 {
	color : #252424;
}

#form section  {
	opacity : 0;
}

#form section:first-of-type {
	opacity : 1;
	margin-top : 70px;
}


#form fieldset label {
	height : 35px;
	font-size: 84%;
    padding-top: 5px;
    width : 34%;
}

#form input:not([type="submit"]), #form select {
	width : 60%;
	height : 35px;
}

#form select[name="registration.provider"] {
	width : 37.8%;
}

#form input[type=checkbox],#form input[type=radio] {
	margin-right : 2px;
	width : 35px;
}

#form .info, #form .wrench {
	vertical-align: text-top;
    margin-top: -11px;
    cursor : pointer;
}

#form .wrench {
	margin-left : 15px;
}

#form .settings .info{
	margin-top: 5px;
}

#form .info.adjust {
	margin-top: 5px;
}

#form .voice {
	vertical-align: text-top;
    margin-top: 11px;
    cursor: pointer;
    position: absolute;
}

#form .settings .voice {
	vertical-align: text-top;
    margin-top: 11px;
    cursor: pointer;
    position: absolute;
    margin-left : 0px;
}

#form fieldset .voice:last-of-type {
	margin-left : 5px;
} 

#form .settings {
	display : none;
	position : absolute;
	z-index : 99;
}

#form .settings h2 {
	white-space: nowrap;
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 2px;
    font-weight: bold;
}

#form .settings h6 span:first-of-type {
	display : inline-block;
	width : 60px;
	text-align : right;
}

#form .settings h6 span.power{
	display : inline-block;
}

#form .settings h6:last-of-type{
	color : red;
}

#form .settings fieldset {
	width : 90%;
	padding-bottom : 20px;
}

#form .settings fieldset label {
	width : 60%;
}

#form .settings fieldset input {
	width : 20%;
}

.easyWizardSteps {list-style:none;width:auto;margin:0;padding:0;text-align:center;}
.easyWizardSteps li {font-size:18px;display:inline-block;padding:15px;color:#ffe;margin-right:0px;}
.easyWizardSteps li.current {color:rgb(234, 133, 17)}
.easyWizardButtons {overflow:hidden;}
.easyWizardButtons button, .easyWizardButtons .submit {cursor:pointer}
.easyWizardButtons .prev {
	float:left;
	cursor: pointer;
	width : 80px;
	border-radius : 2px;
	margin-top : 15px;
	margin-bottom : 10px;
	border : 1px solid #06d0d8;
	background : #06d0d8;
	color : white;
	height : 34px;
}
.easyWizardButtons .next, .easyWizardButtons .submit {
float:right;
cursor: pointer;
	width : 80px;
	border-radius : 2px;
	margin-top : 15px;
	margin-bottom : 10px;
	border : 1px solid #06d0d8;
	background : #06d0d8;
	color : white;
	height : 34px;
}

.captcha {
	margin-top : 20px;
	margin-left : 26px;
}

.gc-reset{
transform:scale(0.95) !important;
-webkit-transform:scale(0.95) !important;
transform-origin:0 0 !important;
-webkit-transform-origin:0 0 !important;
}


/*--------------------*/
/* Responsive Style */
/*--------------------*/


@media(max-width:1199px ){
	.success {width : 60%;}
	.registration {width : 55%;}
	#form select[name="registration.provider"] {width: 37.8%;}
}

@media(max-width:1024px ){
	.registration {width : 60%;}
	#form select[name="registration.provider"] {width: 37.2%;}
}
  
@media(max-width:991px ){
	.success {width : 50%;}
	.registration {width : 67%;}
	#form select[name="registration.provider"] {width: 36.8%;}
}

@media(max-width:767px ){
	h4 {background-position-y : 6px}
	.registration {width : 80%;}
	.registration p {width : 99%}
	.captcha {margin-left:0px}
	#form select[name="registration.provider"] {width: 37.8%;}
}
@media(max-width:640px){
	.success {width : 90%;}
	.registration {width : 90%;}
	#form fieldset label {width : 42%;}
	#form input:not([type="submit"]), #form select {width : 51%;}
    #form input[type=checkbox],#form input[type=radio] {width:35px;margin-right:2%}
    .registration > h1 {font-size:1.5em;padding-top:20px}
    #form .voice {margin-left : -5px}
    #form fieldset .voice:last-of-type {margin-left : 0px}
   #form select[name="registration.provider"] {width: 39.3%;}
}

 
@media(max-width:480px ){
	.registration {width : 95%;}
	#form fieldset label {width : 42%;}
	#form input:not([type="submit"]), #form select {width : 48%;}
    #form input[type=checkbox],#form input[type=radio] {width:35px;margin-right:2%}
    .registration > h1 {font-size:1.5em;padding-top:15px}
    #form .settings fieldset label {font-size: 60%;padding-top: 10px;}
    .easyWizardSteps {margin-top:-20px}
    .easyWizardSteps li {padding-bottom:0px}
	#form .settings .voice:last-of-type {margin-left : 5px}
	#form .wrench {margin-left : 6px;}
	#form select[name="registration.provider"] {width: 41.5%;}
}
@media(max-width:360px ){
	#form fieldset label {width : 45%;font-size: 75%;padding-top: 7px;}
	#form input:not([type="submit"]), #form select {width : 43%;}
    #form input[type=checkbox],#form input[type=radio] {width:35px;margin-right:0%}
    .captcha{max-width:286px;width:286px;overflow:hidden}
    .registration .price {width:24%}
    #form fieldset {padding-left : 2px;padding-right : 0px;}
    #form select[name="registration.provider"] {width: 36.5%;}
}
@media(max-width:320px ){
	.captcha{max-width:286px;width:286px;overflow:hidden}
	#form fieldset label {width: 43%;font-size: 60%;padding-top: 9px;}
	#form input:not([type="submit"]), #form select {width : 43%;}
	#form input[type=checkbox],#form input[type=radio] {width:35px;margin-right:0%}
	#form select[name="registration.provider"] {width: 38.5%;}
}