/*! http://responsiveslides.com v1.55 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 82.2%;
  padding: 0;
  margin: 0;
  height : 340px;
  margin: auto;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides .images {
	 width : 85%;
	 padding-left:15%;
	margin : auto;
}
.rslides .images img {
  display: inline-block;
  height: 200px;
  float: left;
  width: 200px;
  margin-right : 40px;
  border: 0;
}

.rslides_tabs {
	text-align : center;
	margin-bottom : 15px;
	height : 20px;
}

.rslides_tabs li {
	display : inline-block;
    padding: 1px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 5px;
    border: 1px solid #fff;
    font-size : 65%;
    cursor : pointer;
}

.rslides_tabs li a {
	color : inherit;
}

.rslides_here {
	background : #000;
	color : #fff;
	border: 1px solid;
}

.rslides_tabs li a:focus {
	border : none;
}

.rslides p span:before, .rslides p span:after {
    content: ' " ';
    font-weight : bold;
    font-size : 100%;
}

.pager-placeholder {
	height : 40px;
	padding-left : 76.4%;
}

.pager-placeholder .voice {
	position : absolute;
	margin-top : -60px;
	z-index : 9999999999;
}

.voice {
    cursor: pointer;
}

.button.wizard {
	float : none;
	position : absolute;
	display : block;
	width : 135px;
	margin-top: -54px;
	margin-left: 20%;
	margin-bottom: 0px;
	border-radius : 5px;
}

.button.wizard .fa-play {
	margin-left : 8px;
}

.center {
	width: 77.5%;
    margin : auto;
    clear : both;
}

.center h1 {
	font-size: 2em;
    padding: 0px;
    font-weight : bold;
    text-align : center;
    line-height: 40px;
    text-transform : none;
}

.center ul {
	margin-left : 10%;
	margin-top : 10px;
}

.center p {
    padding: 20px;
    text-align: justify;
    width : 90%;
    margin : auto;
    min-height : 50px;
    padding-top : 10px;
}

.module > div {
	margin : 20px;
	margin-top : 10px;
	margin-bottom : 0px;
}

.module img {
	display : inline-block;
	width : 32px;
	height : 32px;
}

.module span {
	display : inline-block;
	vertical-align : top;
	padding : 2px;
	width : 90%;
}

.block {
	width : 60%;
	margin : auto;
}

.video {vertical-align:top;display:inline-block;width:60%;margin:auto}

.video-container{background-color : #000;border:1px solid;position:relative;padding-bottom:56%;height:0;overflow:hidden}.video-container iframe,.video-container object,.video-container embed{position:absolute;top:0;left:0;width:100%;height:100%}

.testimonials{vertical-align:top;display:inline-block;width:35%;margin:0 auto;}
.testimonial p.content{font-size : 70%;font-style:italic;line-height:24px;padding:0px;position:relative;overflow:hidden;}
.testimonial p.content:before, .testimonial p.content:after {
    content: '"';
    font-weight : bold;
    font-size : 120%;
}
.testimonial .sign{text-align:right;float:right;}
.testimonial .sign a{color:#222;font-size:70%;text-decoration:none;}
.testimonials .testimonial {display : none;}
.testimonials .testimonial:first-of-type {display : block;}
.ac-container{
	text-align: left;
	margin-top : 5px;
}
.testimonial .voice {
	margin-left : 5px;
}
.ac-container label{
	padding: 0px;
	padding-right : 45px;
	position: relative;
	z-index: 20;
	display: block;
	height: 35px;
	cursor: pointer;
	line-height: 35px;
	font-size: 19px;
	text-transform: capitalize;
}

.ac-container label:after,.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;
	background: transparent url(../images/arrow_down.png) no-repeat center center;	
}
.ac-container input:checked + label:hover:after{
	background-image: url(../images/arrow_up.png);
}
.ac-container input{
	display: none;
}
.ac-container article{
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	-webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}

.ac-container article .voice {
	position : absolute;
	margin-left: 5px;
    margin-top: 3px;
}

.ac-container article p{
	font-style: italic;
	color: #777;
	line-height: 23px;
	font-size: 14px;
	padding-top: 4px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	padding-top : 0px;
}
.ac-container input:checked ~ article{
	-webkit-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-moz-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-o-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	-ms-transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	transition: height 0.5s ease-in-out, box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container input:checked ~ article.ac-small{
	height: auto;
}
.ac-container input:checked ~ article.ac-medium{
	height: auto;
}
.ac-container input:checked ~ article.ac-large{
	height: auto;
}


/*--------------------*/
/* Responsive Style */
/*--------------------*/


@media(max-width:1199px ){
	.button.wizard {margin-top: -54px;margin-left: 20%;margin-bottom: 0px;}
	.rslides {height:360px}
	.rslides .images {width : 85%;padding-left:10%}
}

@media(max-width:1024px ){
	.rslides {height:300px}
	.center {width: 80%;}
	.block {width : 64%}
	.button.wizard {margin-top: -54px;margin-left: 17.9%;margin-bottom: 0px;}
	 .rslides .images {width : 85%;padding-left:25%}
	 .rslides .images img {height : 128px;width:128px}
}
@media(max-width:991px ){
	.center {width: 90%;}
	.center h1 {line-height : 0px;}
	.rslides {width:100%;height:300px;margin-top:-10px}
	.block {width : 81%}
	 .button.wizard {position:relative;margin: auto;margin-bottom: 21px;}
	 .rslides .images {width : 85%;padding-left:25%}
	 .rslides .images img {height : 128px;width:128px}
}
@media(max-width:767px ){
	.center {width: 90%;margin-left:2px}
	.rslides {width:100%;height:300px;margin-top:0px}
	.block {width : 99%}
	.center h1 {line-height : 0px;}
	.rslides .images {width : 85%;padding-left:20%}
	 .rslides .images img {height : 128px;width:128px}
}
@media(max-width:640px){
	.rslides {height:350px}
	.video,.testimonials {display:block;width:98%;}
	.testimonials {margin-top : 10px;padding-bottom:15px}
	.center {width: 99.5%;}
	 .center h1 {line-height : 40px;}
	 .rslides .images {width : 85%;padding-left:10%}
	 .rslides .images img {height : 128px;width:128px}
}
@media(max-width:480px ){
	.center h1 {font-size : 1.5em}
	.rslides {height:270px}
	.rslides .images {display : none}
}
@media(max-width:360px ){
	.rslides {height:300px}
	.pager-placeholder .voice {margin-left:25px}
}
@media(max-width:320px ){
}
