/*! http://responsiveslides.com v1.55 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  height : auto;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.center {
	width: 70%;
    margin : auto;
    clear : both;
}

.center h1 {
	font-size: 2em;
    white-space: nowrap;
    padding: 0px;
    font-weight : bold;
    text-align : center;
    line-height: 30px;
    margin-top: 20px;
    text-transform : none;
}

.center ul {
	margin-left : 10%;
	margin-top : 10px;
}

.center p {
    padding: 20px;
    text-align: justify;
    width : 90%;
    margin : auto;
    min-height : 50px;
}

.module {
    padding: 20px;
    padding-top : 2px;
    margin-top: 20px;
    border: 1px solid;
}

.module h2 {
	margin-bottom: 15px;
    text-transform: capitalize;
    width: auto;
    margin-top: 15px;
    padding-right: 10px;
    border: 1px solid;
    height : auto;
    padding-bottom : 5px;
}

.module img {
	display : inline-block;
	width : 32px;
	height : 32px;
}

.module span {
	display : inline-block;
	vertical-align : top;
	padding : 2px;
}

.video {width:49%;margin:auto}

.video-container{background-color : #000;border:1px solid;position:relative;padding-bottom:56%;height:0;overflow:hidden}.video-container iframe,.video-container object,.video-container embed{position:absolute;top:0;left:0;width:100%;height:100%}


/*--------------------*/
/* Responsive Style */
/*--------------------*/


@media(max-width:1199px ){
	.center {width: 70%;}
}

@media(max-width:1024px ){
	.center {width: 80%;}
	.video {width:65%}
}
@media(max-width:991px ){
	.center {width: 90%;}
	.video {width:81%}
}
@media(max-width:767px ){
	.center {width: 95%;}
	.video {width:91%}
}
@media(max-width:640px){
}
@media(max-width:480px ){
	.center h1 {font-size : 1.5em}
	.rslides {height : 230px}
}
@media(max-width:360px ){
	.rslides {height : 300px}
}
@media(max-width:320px ){
}
