<?xml version="1.0" encoding="utf-8"?>
<module>
    <id>mod_sales</id>
	<name>sales</name>
	<roles>manager</roles>
	<author>ThinkTech</author>
	<authorEmail>dev@thinktech.sn</authorEmail>
	<description>Module for managing your sales</description>
	<details>The sales module provides in-depth insight into the main business processes of sales and distribution, such as inquiry, quotation, pricing and taxation, sales order processing, customer credit, backlog management, returns handling and delivery.</details>
	<creationDate>2016-09-01</creationDate>
	<copyright>© 2017 ThinkTech</copyright>
	<license>Commercial</license>
	<version>1.0</version>
	<price>10</price>
</module>